<ion-header>
  <ion-toolbar>
    <ion-title>Add New Book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="danger" *ngIf="error">
    <p>{{ error }}</p>
  </ion-text>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input
        [(ngModel)]="newBook.title"
        name="title"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Genre</ion-label>
      <ion-input
        [(ngModel)]="newBook.genre"
        name="genre"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Available Copies</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="newBook.availableCopies"
        name="availableCopies"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Author</ion-label>
      <ion-select
        [(ngModel)]="newBook.authorId"
        name="authorId"
        interface="popover"
        [disabled]="loadingAuthors"
      >
        <ion-select-option
          *ngFor="let author of authors"
          [value]="author.id"
        >
          {{ author.name }} ({{ author.nationality }})
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button
    expand="block"
    (click)="saveBook()"
    [disabled]="submitting || loadingAuthors"
  >
    {{ submitting ? 'Saving...' : 'Save Book' }}
  </ion-button>
</ion-content>
