<ion-header>
  <ion-toolbar>
    <ion-title>Library – Books</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button routerLink="/books/new" color="primary">
    Add New Book
  </ion-button>


  <p style="color: red; font-weight: bold;">HOME PAGE LOADED</p>

  <ion-button (click)="loadBooks()">Reload from API</ion-button>

  <ion-spinner *ngIf="loading"></ion-spinner>

  <ion-text color="danger" *ngIf="error">
    <p>{{ error }}</p>
  </ion-text>

  <ion-list *ngIf="!loading && books.length">
    <ion-item *ngFor="let book of books" [routerLink]="['/books', book.id]">
      <ion-label>
        <h2>{{ book.title }}</h2>
        <p>Author: {{ book.authorName }}</p>
        <p>Genre: {{ book.genre }}</p>
        <p>Available copies: {{ book.availableCopies }}</p>
      </ion-label>
    </ion-item>
  </ion-list>


  <p *ngIf="!loading && !books.length && !error">
    No books found.
  </p>
</ion-content>
