<ion-header>
  <ion-toolbar>
    <ion-title>Edit Book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-spinner *ngIf="loading"></ion-spinner>

  <ion-text color="danger" *ngIf="error">
    <p>{{ error }}</p>
  </ion-text>

  <form *ngIf="!loading">
    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input
        [(ngModel)]="form.title"
        name="title"
        placeholder="Book title"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Genre</ion-label>
      <ion-input
        [(ngModel)]="form.genre"
        name="genre"
        placeholder="Genre"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Author</ion-label>
      <ion-select
        [(ngModel)]="form.authorId"
        name="authorId"
        interface="popover"
      >
        <ion-select-option
          *ngFor="let a of authors"
          [value]="a.id"
        >
          {{ a.name }} ({{ a.nationality }})
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Available Copies</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="form.availableCopies"
        name="availableCopies"
        min="0"
      ></ion-input>
    </ion-item>

    <ion-button
      expand="block"
      (click)="save()"
      [disabled]="saving"
    >
      {{ saving ? 'Saving...' : 'Save Changes' }}
    </ion-button>

    <ion-button
      expand="block"
      color="medium"
      [routerLink]="['/books', bookId]"
    >
      Cancel
    </ion-button>
  </form>
</ion-content>
