name: CI - Docker Build & Postman Tests & Security Scan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  id-token: write

env:
  IMAGE_NAME: librarymanagementsystem-webapi
  IMAGE_REF: ${{ secrets.DOCKER_USERNAME }}/librarymanagementsystem-webapi
  REPORT_PATH: Reports/LibraryAPITestReport.html
  SBOM_FILE: sbom.json


jobs:
  build-test-scan:
    runs-on: ubuntu-latest

    steps:
      # checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Restore dependencies
        run: dotnet restore
        
      - name: Build application
        run: dotnet build Library.WebApi/Library.WebApi.csproj --no-restore
      
   
      
      # SECURITY ------ dependency vulnerability scan
      - name: Trivy filesystem scan dependencies & configs
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          scan-ref: .
          severity: HIGH,CRITICAL
          exit-code: 0

    
      # SECURITY ------ Docker build
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
            
      - name: Build & Push Docker image
        id: build
        uses: docker/build-push-action@v5
        with:
            context: .
            file: Library.WebApi/Dockerfile
            push: true
            tags: |
              ${{ env.IMAGE_REF }}:latest
              
      - name: Debug image digest
        run: |
         echo "----------------------------------------"
         echo "Image pushed with digest:"
         echo "${{ steps.build.outputs.digest }}"
         echo "----------------------------------------"
      

      - name: Save image digest
        run: |
         echo "${{ steps.build.outputs.digest }}" > image-digest.txt

      - name: Upload image digest artifact
        uses: actions/upload-artifact@v4
        with:
          name: image-digest
          path: image-digest.txt
      
      
      # SECURITY ----- SBOM from docker image 
      - name: Generate SBOM (CycloneDX)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: image
          image-ref: ${{ env.IMAGE_NAME }}
          format: cyclonedx
          output: ${{ env.SBOM_FILE }}

      - name: Upload SBOM
        uses: actions/upload-artifact@v4
        with:
          name: SBOM
          path: ${{ env.SBOM_FILE }}
          
          
      # SECURITY ------ Docker image scan
      - name: Scan Docker image
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: image
          image-ref: ${{ env.IMAGE_NAME }}
          severity: HIGH,CRITICAL
          format: table
          output: trivy-image-report.txt
          exit-code: 0

      - name: Upload vulnerability report
        uses: actions/upload-artifact@v4
        with:
          name: Trivy-Image-Vulnerabilities
          path: trivy-image-report.txt
      
      
      # build and start containers for testing
      - name: Start Services
        env:
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
        run: |
          docker compose up -d
          sleep 15
       
      
      #  API TESTS - install Newman CLI
      - name: Install Newman and reporters
        run: npm install -g newman newman-reporter-htmlextra
      
      # delete old reports
      - name: Cleanup old reports
        run: rm -rf Reports && mkdir Reports
      
      # run Postman API Tests
      - name: Run API Tests via Newman
        continue-on-error: true
        run: |
          newman run library-api-tests.postman_collection.json \
            -e library-api-env.postman_environment.json \
            -r htmlextra \
            --reporter-htmlextra-export $REPORT_PATH \

      # upload HTML report
      - name: Upload API Test Report
        uses: actions/upload-artifact@v4
        with:
          name: LibraryAPI-Newman-Report
          path: Reports/
      
      # stop and remove container
      - name: Stop and clean up containers
        if: always()
        run: docker compose down

