name: CI - Docker Build & Postman Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  IMAGE_NAME: library_webapi
  REPORT_PATH: Reports/LibraryAPITestReport.html
  API_URL: http://localhost:5000/health


jobs:
  build-test-push:
    runs-on: ubuntu-latest

    steps:
      # checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
            
      # build and start services
      - name: Build and start services
        run: |
          docker compose -f docker-compose.yml up -d --build
          echo "Waiting for API to be ready..."
          sleep 20
        env:
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          
      - name: Wait for API to be ready
        run: |
          for i in {1..40}; do
            if curl -s $API_URL > /dev/null; then
              echo "API is up!"
              exit 0
            fi
            echo "Waiting for API... ($i/40)"
            sleep 3
          done
          echo "API did not start in time!"
          exit 1

      # innstall Newman CLI
      - name: Install Newman and reporters
        run: npm install -g newman newman-reporter-htmlextra
      

      
      # run Postman API Tests
      - name: Run API Tests via Newman
        continue-on-error: true
        run: |
          mkdir -p Reports
          newman run library-api-tests.postman_collection.json \
          -e library-api-env.postman_environment.json \
          -r htmlextra \
          --reporter-htmlextra-export $REPORT_PATH
          
          
      # upload HTML report
      - name: Upload API Test Report
        uses: actions/upload-artifact@v4
        with:
          name: LibraryAPI-Newman-Report
          path: ${{ env.REPORT_PATH }}

      # stop and remove container
      - name: Stop and clean up containers
        if: always()
        run: docker stop library_webapi && docker rm library_webapi

  