name: CI - Docker Build & Postman Tests & Security Scan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  IMAGE_NAME: library_webapi
  REPORT_PATH: Reports/LibraryAPITestReport.html
  SBOM_FILE: sbom.json


jobs:
  build-test-scan:
    runs-on: ubuntu-latest

    steps:
      # checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v4
        
      # SECURITY ------ SBOM generation
      - name: Install CycloneDX .NET Tool
        run: dotnet tool install --global CycloneDX

      - name: Add .NET tools to PATH
        run: echo "$HOME/.dotnet/tools" >> $GITHUB_PATH

      - name: Check installed tools
        run: ls -l $HOME/.dotnet/tools
        
      - name: Generate SBOM
        run: dotnet-cyclonedx -o sbom.json -f json

      - name: Upload SBOM
        uses: actions/upload-artifact@v4
        with:
          name: SBOM
          path: sbom.json
      
      # SECURITY ------ dependency vulnerability scan
      - name: Install Trivy
        run: |
          sudo apt-get update
          sudo apt-get install -y wget
          wget https://github.com/aquasecurity/trivy/releases/latest/download/trivy_0.48.1_Linux-64bit.deb
          sudo dpkg -i trivy_0.48.1_Linux-64bit.deb

      - name: Run Trivy FS Scan
        run: trivy fs --exit-code 0 --severity HIGH,CRITICAL .

      
      # SECURITY ------ Docker build
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build -t $IMAGE_NAME -f Library.WebApi/Dockerfile .

      # SECURITY ------ Docker image scan
      - name: Run Trivy Image Scan
        run: trivy image --exit-code 0 --severity HIGH,CRITICAL $IMAGE_NAME

      # SECURITY ------ Fail- gate ,for block the release if image have vulnerability
      - name: Fail if HIGH or CRITICAL vulnerabilities exist
        run: trivy image --exit-code 1 --severity HIGH,CRITICAL $IMAGE_NAME
      
      
      # build and start containers for testing
      - name: Start Services
        run: |
          docker compose -f docker-compose.yml up -d --build
          sleep 15
       
      
      #  API TESTS - install Newman CLI
      - name: Install Newman and reporters
        run: npm install -g newman newman-reporter-htmlextra
      
      # delete old reports
      - name: Cleanup old reports
        run: rm -rf Reports && mkdir Reports
      
      # run Postman API Tests
      - name: Run API Tests via Newman
        # continue-on-error: true
        run: |
          newman run library-api-tests.postman_collection.json \
            -e library-api-env.postman_environment.json \
            -r htmlextra \
            --reporter-htmlextra-export $REPORT_PATH \

      # upload HTML report
      - name: Upload API Test Report
        uses: actions/upload-artifact@v4
        with:
          name: LibraryAPI-Newman-Report
          path: Reports/
      
      # stop and remove container
      - name: Stop and clean up containers
        if: always()
        run: docker compose down

  