name: CD - Build & Push Secure Image

on:
  workflow_run:
    workflows: [ "CI - Docker Build & Postman Tests & Security Scan" ]
    types:
      - completed
      
      
permissions:
  contents: read
  id-token: write
 

jobs:
  build-and-push:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      # checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # log in
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # build and push image
      - name: Build and push Library WebAPI image
        id: build
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Library.WebApi/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/librarymanagementsystem-webapi:latest

    # SECURITY ----- Install Cosign
      - name: Install Cosign
        run: |
          curl -sSL https://github.com/sigstore/cosign/releases/latest/download/cosign-linux-amd64 \
            -o cosign
          chmod +x cosign
          sudo mv cosign /usr/local/bin/cosign
          
    
    # SECURITY -----  Sing image
      - name: Sign Docker Image (OIDC)
        run: |
          cosign sign --yes \
            ${{ secrets.DOCKER_USERNAME }}/librarymanagementsystem-webapi@${{ steps.build.outputs.digest }}
      
      
      # SECURITY ----- Verify signature
      - name: Verify Docker Image Signature
        run: |
          cosign verify \
            --certificate-identity "https://github.com/${{ github.repository }}/.github/workflows/CD - Build & Push Secure Image.yml@refs/heads/main" \
            --certificate-oidc-issuer "https://token.actions.githubusercontent.com" \
             ${{ secrets.DOCKER_USERNAME }}/librarymanagementsystem-webapi@${{ steps.build.outputs.digest }}
      
