name: CD - Build & Push Secure Image

on:
  workflow_run:
    workflows: [ "CI - Docker Build & Postman Tests & Security Scan" ]
    types:
      - completed


permissions:
  contents: read

env:
  IMAGE_REF: ${{ secrets.DOCKER_USERNAME }}/librarymanagementsystem-webapi
  
jobs:
  build-and-push:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Download image digest artifact
        uses: actions/download-artifact@v4
        with:
          name: image-digest
          path: .

      - name: Read image digest
        id: digest
        run: |
          DIGEST=$(cat image-digest.txt)
          echo "DIGEST=$DIGEST" >> $GITHUB_ENV
          echo "Image digest from CI: $DIGEST"

     
     
      
      # SECURITY ----- Install Cosign
      - name: Install Cosign
        run: |
            curl -sSL https://github.com/sigstore/cosign/releases/latest/download/cosign-linux-amd64 -o cosign
            chmod +x cosign
            sudo mv cosign /usr/local/bin/cosign
            cosign version

      - name: Login to Docker Hub for Cosign
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | \
            cosign login docker.io \
              -u ${{ secrets.DOCKER_USERNAME }} \
              --password-stdin
          
      - name: Sign Docker image
        env:
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
          COSIGN_LOG_LEVEL: debug
        run: |
          set -x
          printf "%s" "${{ secrets.COSIGN_PRIVATE_KEY }}" > cosign.key
          
          cosign sign --yes --key cosign.key \
            ${{ secrets.DOCKER_USERNAME }}/librarymanagementsystem-webapi@${{ steps.build.outputs.digest }}
      
      - name: Wait for Docker Hub consistency
        run: sleep 10
        
      - name: Confirm signature presence
        env:
          COSIGN_LOG_LEVEL: debug
        run: |
            cosign triangulate \
              index.docker.io/${{ env.IMAGE_REF }}@${{ env.DIGEST }}
      
      # SECURITY ----- Verify signature
      - name: Verify Docker image signature
        env:
          COSIGN_LOG_LEVEL: debug
        run: |
            set -x
            printf "%s" "${{ secrets.COSIGN_PUBLIC_KEY }}" > cosign.pub
            
            cosign verify \
              --key cosign.pub \
              index.docker.io/${{ env.IMAGE_REF }}@${{ env.DIGEST }}