name: CD - Build & Push Library API Image

on:
  workflow_run:
    workflows: [ "CI - Docker Build & Postman Tests" ]
    types:
      - completed
 

jobs:
  build-and-push:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      # checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # log in
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # build and push image
      - name: Build and push Library WebAPI image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Library.WebApi/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/librarymanagementsystem-webapi:latest
            ${{ secrets.DOCKER_USERNAME }}/librarymanagementsystem-webapi:${{ github.run_number }}

      # verify image built successfully
      - name: Show image list
        run: docker images
