name: CD - Build & Push Secure Image

on:
  workflow_run:
    workflows: [ "CI - Docker Build & Postman Tests & Security Scan" ]
    types:
      - completed


permissions:
  contents: read


jobs:
  build-and-push:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      # checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # log in
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # build and push image
      - name: Build and push Library WebAPI image
        id: build
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Library.WebApi/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/librarymanagementsystem-webapi:latest

      - name: Debug image digest
        run: |
          echo "----------------------------------------"
          echo "Docker image digest:"
          echo "${{ steps.build.outputs.digest }}"
          echo "----------------------------------------"
      
      
      
      # SECURITY ----- Install Cosign
      - name: Install Cosign
        run: |
          curl -sSL https://github.com/sigstore/cosign/releases/latest/download/cosign-linux-amd64 \
            -o cosign
          chmod +x cosign
          sudo mv cosign /usr/local/bin/cosign
          cosign version

      - name: Login to Docker Hub for Cosign
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | \
            cosign login docker.io \
              -u ${{ secrets.DOCKER_USERNAME }} \
              --password-stdin
          
      - name: Sign Docker image
        env:
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
          COSIGN_LOG_LEVEL: debug
        run: |
          set -x
          printf "%s" "${{ secrets.COSIGN_PRIVATE_KEY }}" > cosign.key
          
          cosign sign --yes --key cosign.key \
            ${{ secrets.DOCKER_USERNAME }}/librarymanagementsystem-webapi@${{ steps.build.outputs.digest }}
      
      - name: Wait for Docker Hub consistency
        run: sleep 10
        
      - name: Debug Cosign signature location
        env:
          COSIGN_LOG_LEVEL: debug
        run: |
          cosign triangulate \
            ${{ secrets.DOCKER_USERNAME }}/librarymanagementsystem-webapi@${{ steps.build.outputs.digest }}
      
      
      # SECURITY ----- Verify signature
      - name: Verify Docker image signature
        env:
          COSIGN_LOG_LEVEL: debug
        run: |
          set -x
          printf "%s" "${{ secrets.COSIGN_PUBLIC_KEY }}" > cosign.pub

          cosign verify \
            --key cosign.pub \
            index.docker.io/${{ secrets.DOCKER_USERNAME }}/librarymanagementsystem-webapi@${{ steps.build.outputs.digest }}
      
